.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 15px;
   @media (max-width: $maxWidthContainer) {
      max-width: $maxWidthContainer + px;
   }
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}

// Прижать footer

html,
body {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
}

.content {
   flex: 1 0 auto;
}

.header,
.footer {
   flex-shrink: 0;
}
