@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "OpenSans", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  color: #010e14;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.15em;
  min-width: 100px;
  padding: 0.6em 2.4em;
  cursor: pointer;
  background-color: #089add;
  color: #e1f5fe;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #09abf6;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__img {
  height: 2rem;
  width: auto;
}

.menu__btn {
  display: none;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-left: 25px;
}

.menu__link {
  color: #010e14;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.menu__link:hover {
  color: #089add;
}

@media (max-width: 1000) {
  .container {
    max-width: 1000px;
  }
}